/*CORES*/
$roxo: #49213E;
$laranja: #E34C26;
$verde: #009688;
$branco: #FFF;
$cinza: #FAFAFA;
$cinza-escuro: #e2e2e2;

/*FONTES*/
$tipo1: 'Arial', sans-serif;
$tipo2: 'Trebuchet MS', sans-serif;
$tipo3: 'Verdana', sans-serif;

